@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../assets/styles2.scss";

.inicio{
  display: flex;
  
  margin: 0.7rem;
}
.noticiasYchat{
  display: flex;
  justify-content: space-evenly;
  width: 80%;

  .centro{
    width: 50%;
    
  }

  .chat{
    width: 40%;
    border: solid 1px black;
    box-shadow: 1px 1px 16px lightgray;
    border-radius: 1rem;
  }
}
.divIzq{
  width: 20%;
  background-color: rgba($claro-color, 0.2);
  border: solid 1px black;
  box-shadow: 1px 1px 16px lightgray;
  border-radius: 1rem;
}

  mat-icon{
    margin: auto !important;
  }
  .button {
    width: 100%;
    display: inline;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
    background-color: $claroA;
    border-bottom: 3px solid $oscuro;


  &:hover {
    background-color: white;
    border-bottom: 3px solid black;
    ::ng-deep .mat-button-wrapper {
        color: $claroB;
    }
  }

}
mat-icon {
  margin-right: 1rem !important;
}

.buttonSelected {
   border-bottom: solid 2px black;
}

.botones{
  display: flex !important;
  justify-content: space-between;
  
  

}
.btns{
  margin-top: 0.7rem;
}

p,
button,
div {
  font-family: $tipoLetraPrimary;
  font-size: large;
  text-align: center;
}


@include media-breakpoint-down(lg) {
  .inicio{
    display: grid !important;
    align-items: flex-start;
  }
  .btns{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: flex !important;
    justify-content: space-around !important;
  }
  
  .divIzq{
    width: 100%  !important;
  }
  .noticiasYchat{
    width: 100% !important;
  }
}
@include media-breakpoint-down(sm) {
    .inicio{
      margin-left: 1rem !important;
      margin-right: 1rem !important;
    }
    .noticiasYchat{
      display: block !important;
    }
    .chat{
      width: 100% !important;
    }
    .centro{
      width: 100% !important;
      
    }
    .card{
      display: none !important;
      
    }
    .button{
      margin: 0.5rem !important;
    }
  

}

mat-icon{
  color: #214ea8;
}
