

<div class="inicio">
  <div class="divIzq">
     
      <div class="card">
        <img
          src="../../assets/veter.jpg"
          class="card-img-top imgVeter"
          contenteditable="imgCard"
        />
        <div class="card-body">
          <p class="card-text">
            Consulta cualqueir duda sobre tu perro con nuestros veterinarios
          </p>
        
        </div>
      </div>
  
      <div class="btns">
          
          
        
            <app-subir-foto></app-subir-foto>
          
            
              <button
                class="button align-items-center"
                mat-button
                (click)="mostrarGale()"
                >
                {{galeria}}
                <mat-icon style="margin-left: 1rem; color: #214ea8;">collections</mat-icon>
              </button>
             

         
              <button
                class="button"
                mat-button
                (click)="consultas()"
                >
                  {{consultasStr}}
                  <mat-icon style="margin-left: 1rem; color: #214ea8;"> local_hospital</mat-icon>
                </button>
              

             

                <button
                  class="button"
                  mat-button
                  (click)="personas()"
                  >
                  {{usuarios}}
                  <mat-icon >group</mat-icon>
                  </button>
             
    
                <button
                  class="button "
                  mat-button
                  [disableRipple]="true"
                  [ngClass]="botonClicado ===  'chat' ? 'buttonSportsSelected' : ''"          
                  (click)="activarChat()"
                  >
                   {{chat}}	
                  <mat-icon style="color: #214ea8;"> chat</mat-icon>
                </button>
                    
                

       
          </div>

  
  </div>

  <div class="noticiasYchat">

          <div class="centro">
          
            <div  *ngIf="abrirChat">
            
                
                <app-noticias></app-noticias>
          
          
            </div>
            <div class="noticiasSinChat " *ngIf="!abrirChat">
            
            
                <app-noticias></app-noticias>
          
            </div>
          </div>
          
            <div class="chat " *ngIf="abrirChat">
              <app-chat></app-chat>
            </div>
  </div>

</div>

