<div class="scroll">
  <div class="card" *ngIf="sinAmigos && !veterinario">
    <img src="../../assets/huella.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Encuentra a tus amigos </h5>
      <p class="card-text">Busca a tus amigos para ver todas sus actividades
        puedes encontrarlos en la bara de navegacion o pinchando aqui abajo
      </p>
      <button mat-button (click)="amigos()"><h2>Buscar amigos</h2></button>
    
    </div>
  </div>

  <div class="card" *ngIf="sinAmigos && veterinario">
    <img src="../../assets/huella.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">No tienes ninguna consulta</h2>
      <p class="card-text">Comparte una foto con tu problema o chatea con los veteriarios
      </p>
    
    </div>
  </div>


<div  *ngFor="let foto of misNoticias" >
  
      <app-tar-noticia
      [foto]="foto"
      [veterinario] = veterinario
      ></app-tar-noticia>
    </div>
  </div>
