


    <div class="contenedor d-flex flex-row justify-content-xl-between">
          <button type="button" class="btn btn-secondary btn-lg" (click)="cargar('Parques para perros, Granada')">Parques</button>
         
        
          <button type="button" class="btn btn-secondary btn-lg"  (click)="cargar('Restaurantes que admitan mascotas, Granada')">Restaurantes</button>
        
          <button type="button" class="btn btn-secondary btn-lg"  (click)="cargar('playas caninas, Granada')">Playas</button>   
          
            <button type="button" class="btn btn-secondary btn-lg"  (click)="cargar('paseos de montaña para mascotas, Granada')">Rutas</button>   

            <button type="button" class="btn btn-secondary btn-lg"  (click)="cargar('Peluquerias caninas, Granada')">Peluquerias</button>   
       
            <button type="button" class="btn btn-secondary btn-lg" (click)="cargar('Tiendas de mascontas, Granada')">Tienda mascotas</button>   
       
      </div>

    
    
    
          <div class="map-responsive  mapa">
            
      
            <iframe
            
            id="iframe"
            width="100%"
              height="100%"
              frameborder="0"
              scrolling="no"
              marginheight="1rem"
              marginwidth="1rem"
              [src]="srcLocationComplete | safe"
              ></iframe>
              
            </div>
  
