

@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";


@import "../../../assets/styles2.scss";

button {
    width: 100%;
    display: inline;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
    background-color: $claroA;
    border-bottom: 3px solid $oscuro;
    color: black;


  &:hover {
    background-color: white;
    border-bottom: 3px solid black;
    color: black;

  
  }

}
.mapa{
    height: auto;
    width: 100%;
}
.contenedor{
display: flex;
justify-content: center;
overflow:scroll;


}
.a{
    
    flex-direction: row-reverse !important;


}


 
      
::-webkit-scrollbar {
-webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
width: 5px;
}

::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
display: none;
}

::-webkit-scrollbar:horizontal {
height: 0.5rem;
}

::-webkit-scrollbar-thumb {
background-color: #797979;
border-radius: 20px;
border-right: 3px solid $bordes;
}

::-webkit-scrollbar-track {
border-radius: 10px;
}
      
button{
    width: 200px;
}
.map-responsive{
    height: 30rem;
   
}
