
<div class="form-container">
    <h1>Actualizar</h1>
    <form [formGroup]="contacForm">
      <div class="d-block" *ngIf="usuario.roles == 'Admin'">
        <p>id</p>
        <input type="text" id="contenedorEmail" formControlName="id" placeholder="id">

      </div>
      <div class="d-block">
        <p>nombre</p> 
       <input type="text" id="contenedorNombre" formControlName="nameUs" placeholder="Nombre">

      </div>
      <div class="d-block">
        <p>contraseña</p> 
        <input type="text" formControlName="password" placeholder="contraseña">
        
      </div>
      <div class="d-block">
        <p>apellido</p>
        <input type="text" formControlName="apellido" placeholder="apellido">
        
      </div>
      <div class="d-block">
        ciudad
        <input type="text" formControlName="city" placeholder="ciudad">

      </div>
      <div class="d-block" *ngIf="usuario.roles == 'Admin'">
        <p>email</p>
        <input type="text" id="contenedorEmail" formControlName="email" placeholder="email">

      </div>
      <div class="d-block" >

        <p>descripcion</p>
        <input type="text" formControlName="descrip" placeholder="descripcion">
      </div>
      <div class="d-block" *ngIf="usuario.roles == 'Admin'">
        <p>habilitado</p>
        <input type="text" formControlName="habilitado" placeholder="habilitado">
      </div>
      <div class="d-block" *ngIf="usuario.roles == 'Admin'">
        <p>rol</p>
        <input type="text" formControlName="rol" placeholder="rol">

      </div>
       
      <button type="submit" class="btn-send" (click)="updateUser()">Actualizar</button>
      <br><br/>
     
      
    </form>
  </div>
  