.contenedor{
   

    height: 500px;
    text-align: center;
}
label{
    margin: 10px;
}
input{
    margin: 0px 1px 0px 0px;
}
.contenedor2{
    float: left;
    width: 30%;
}
button{
    width: 200px;
}