@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../assets/styles2.scss";

.inicio{
  display: flex;
  
  margin: 0.7rem;
}
.noticiasYchat{
  display: flex;
  justify-content: space-evenly;
  width: 80%;

  .centro{
    width: 50%;
  }

  .chat{
    width: 40%;
  }
}
.divIzq{
  width: 20%;

  .card{
    width: 100%;
  }
}
.botones{
  display: flex !important;
  justify-content: space-between;
}


  
  .button {
    width: 100%;
    display: inline;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
    border-bottom: 3px solid white;


  &:hover {
    background-color: rgba($claro-color, 0.2);
    border-bottom: 3px solid black;
    ::ng-deep .mat-button-wrapper {
        color: $claroB;
    }
  }

}
mat-icon {
  margin-right: 1rem !important;
}

.buttonSelected {
   border-bottom: solid 2px black;
}


p,
button,
div {
  font-family: $tipoLetraPrimary;
  font-size: large;
  text-align: center;
}


@include media-breakpoint-down(lg) {
  .inicio{
    display: grid !important;
    align-items: flex-start;
  }
  .btns{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: flex !important;
    justify-content: space-around !important;
  }
  
  .divIzq{
    width: 100%  !important;
  }
  .noticiasYchat{
    width: 100% !important;
  }
}
@include media-breakpoint-down(sm) {
    .noticiasYchat{
      display: block !important;
    }
    .chat{
      width: 100% !important;
    }
    .centro{
      width: 100% !important;
    }
}


