@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../assets/styles2.scss";
.contenedor{
    margin-top: 5rem;
}
.enviar{
   background-color: rgb(54, 205, 28);
   width: 12rem; 
}
.foter{
    display: flex;
    flex-direction: column-reverse;
}

.foto{
    background-color: aliceblue !important;
    border-color: aliceblue !important;
}
.img{
    width: 3rem !important;
}
.botones{
  display: flex !important;
  justify-content: space-between;
 

}

@include media-breakpoint-down(sm) {

  p, button{
    font-size: 2rem !important;
  }
}

    
  
.button {
  width: 100%;
  display: inline;
  text-overflow: ellipsis;
  background-color: $claroA;
  letter-spacing: 0.5px;
  border-bottom: 3px solid $oscuro;

  &:hover {
    background-color:  white;;
    border-bottom: 3px solid black;
    ::ng-deep .mat-button-wrapper {
        color: $claroB;
    }
  }

}




p,
button,
div {
  font-family: $tipoLetraPrimary;
  font-size: large;
  text-align: center;
}