

<div class="noticia">
  <mat-card
    class="example-card"
 
  >
    <mat-card-header>
    
     
        
        
    
    </mat-card-header>
    <div class="nomYfecha">
      <div >
           <p style="font-size: 1.2rem;">
             {{ nameUserNoticia }}
           </p>
      </div>
      <div >
        <p>
          {{ foto.fechaModificacion | dateChange }}
        </p>
      </div>
    </div>
    <img mat-card-image (click)="openDialog(foto)" src="{{ foto.foto }}" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <div class="descripcion">
        {{ foto.descripcion }}
      </div>

      <div class="nav-item dropdown">

          <button
          (mouseenter)="getNombresLike(foto.id)"  (mouseleave)="nombresLike = []"
            *ngIf="!veterinario" 
            mat-button 
            (click)="like(foto.id)">
              <mat-icon  style="color: #214ea8;">thumb_up</mat-icon>
      
              {{ foto.likes.length }}
        </button>
            <div *ngIf="nombresLike.length > 0" style=" height: 7rem; overflow: scroll;">
                
            <div   *ngFor="let nombre of nombresLike">
              <mat-icon>person</mat-icon>

              <span style="text-align: center;" >{{nombre.name}}</span>
            </div>
                
      
            </div>
        <button mat-button (click)="ver()" class="btnComent">
          <mat-icon style="color: #214ea8;">speaker_notes</mat-icon>{{ foto.comentarios.length }}
        </button>
        <div *ngIf="mostrar">
          <div
            *ngIf="foto.comentarios.length > 0"
            class="scrollComen"
            style="overflow: scroll; overflow-x: hidden"
          >
            <div *ngFor="let comentario of foto.comentarios; index as i">
              <app-comentario
                [comentario]="comentario"
                [idFoto]="foto.id"
                [veterinario] = veterinario
                [posicionEnLista] = i
              ></app-comentario>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
     
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Comentario</mat-label>
          <input matInput type="text" name="value" [(ngModel)]="value" />

          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="comentar(foto.id, foto.email, foto); value = ''"
          >
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </mat-card-actions>
  </mat-card>

</div>


